::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(121, 121, 121, 0.3);
  border-radius: 0px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background-color: #50505050;
  border-radius: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.card {
  transform: scale(1);
  z-index: 0;
}

.card:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  box-shadow: 5px 5px 5px 5px #EBEBEB;
  z-index: 1;
}

.slideLeftItem {
  animation: slideLeft 1s;
}

.slideUpItem {
  animation: slideUp 1s;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}